input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 30px #7998f9 inset !important;
}

html {
  overflow-x: hidden;
}
.App {
  text-align: center;
  background: #282c34;
  height: 100%;
}
.right {
  display: flex;
  justify-content: flex-end;
}
